################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/packages
/Core/bin
/Core/obj
/Core.Azure/bin
/Core.Azure/obj
/Core.Azure.ServiceBus/bin
/Core.Azure.ServiceBus/obj
/Core.ComponentModel.DataAnnotations/bin
/Core.ComponentModel.DataAnnotations/obj
/Core.Drawing/bin
/Core.Drawing/obj
/Core.EntityFramework/bin
/Core.EntityFramework/obj
/Core.IdentityModel.Clients.ActiveDirectory/bin
/Core.IdentityModel.Clients.ActiveDirectory/obj
/Core.Ioc.Unity/bin
/Core.Ioc.Unity/obj
/Core.Logging.ApplicationInsights/bin
/Core.Logging.ApplicationInsights/obj
/Core.Logging.EnterpriseLibrary/bin
/Core.Logging.EnterpriseLibrary/obj
/Core.Net.Http.ActiveDirectory/bin
/Core.Net.Http.ActiveDirectory/obj
/Core.Testing.EntityFramework/bin
/Core.Testing.EntityFramework/obj
/Core.Testing.Azure/bin
/Core.Testing.Azure/obj
/Core.Testing/bin
/Core.Testing/obj
/Core.ServiceModel/bin
/Core.ServiceModel/obj
/Core.Newtonsoft.Json/bin
/Core.Newtonsoft.Json/obj
/Core.Net.Http.Formatting/bin
/Core.Net.Http.Formatting/obj
/Core.Xml.Linq.Tests/bin
/Core.Xml.Linq.Tests/obj
/Core.Xml.Linq/bin
/Core.Xml.Linq/obj
/Core.Web.Mvc/bin
/Core.Web.Mvc/obj
/Core.Web.Http/bin
/Core.Web.Http/obj
/Core.Web/bin
/Core.Web/obj
/Core.Tests/bin
/Core.Tests/obj
/Core.Testing.NSubstitute.Tests/bin
/Core.Testing.NSubstitute.Tests/obj
/Core.Testing.NSubstitute/bin
/Core.Testing.NSubstitute/obj
/Core.Testing.Moq.Tests/bin
/Core.Testing.Moq.Tests/obj
/Core.Testing.Moq/bin
/Core.Testing.Moq/obj
/Core.Testing.LumiSoft.Net/obj
/Core.Testing.LumiSoft.Net/bin
/TestResults
