################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/packages
/Core/bin
/Core/obj
/Core.Azure/obj/Debug
/Core.Azure.ServiceBus/obj/Debug
/Core.Azure/obj/Release
/Core.Azure.ServiceBus/obj/Release
/Core.ComponentModel.DataAnnotations/obj/Release
/Core.Drawing/obj/Release
/Core.EntityFramework/obj
/Core.IdentityModel.Clients.ActiveDirectory/obj
/Core.Ioc.Unity/obj/Release
/Core.Logging.ApplicationInsights/obj
/Core.Logging.EnterpriseLibrary/obj
/Core.Net.Http.ActiveDirectory/obj/Release
/Core.Testing.EntityFramework/obj
/Core.Testing.Azure/obj/Release
/Core.Testing/obj
/Core.ServiceModel/obj
/Core.Newtonsoft.Json/obj/Release
/Core.Net.Http.Formatting/obj
/Core.Xml.Linq.Tests/obj/Release
/Core.Xml.Linq/obj/Release
/Core.Web.Mvc/obj
/Core.Web.Http/obj
/Core.Web/obj
/Core.Tests/obj
/Core.Testing.NSubstitute.Tests/obj/Release
/Core.Testing.NSubstitute/obj
/Core.Testing.Moq.Tests/obj/Release
/Core.Testing.Moq/obj
/Core.Testing.LumiSoft.Net/obj
