<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingOk" type="Sfa.Core.Logging.LoggingConfigurationSettings, Sfa.Core" />
    <section name="loggingSettings" type="Sfa.Core.Logging.LoggingConfigurationSettings, Sfa.Core" />
    <section name="loggingLevels" type="Sfa.Core.Logging.LoggingConfigurationSettings, Sfa.Core" />
    <section name="loggingLevels2" type="Sfa.Core.Logging.LoggingConfigurationSettings, Sfa.Core" />
    <section name="loggingEmpty" type="Sfa.Core.Logging.LoggingConfigurationSettings, Sfa.Core" />
  </configSections>

  <loggingOk>
    <settings>
      <logSetting category="cat1" level="Debug"/>
      <logSetting category="cat2" level="Warn"/>
    </settings>
  </loggingOk>
  
  <loggingSettings>
    <settings>
      <logSetting category="*" level="Debug"/>
    </settings>
  </loggingSettings>
  
  <loggingLevels2>
    <settings>
      <logSetting category="*" level="Info"/>
    </settings>
  </loggingLevels2>
  
  <loggingLevels>
    <settings>
      <logSetting category="cat1" level="Debug"/>
    </settings>
  </loggingLevels>
  
  <loggingEmpty>
  </loggingEmpty>
</configuration>